.text-navbar {
  color: white !important;
}
.dropdown-section {
  color: white !important;
}
.text-heading {
  font-size: 4rem;
  padding: 10px;
  margin-left: 1rem;
  margin-top: 10px;
}
.text-subheading {
  font-size: 2rem;
  padding: 10px;
  margin-left: 1rem;
  margin-top: 10px;
}
.projects-section {
  background-color: cadetblue;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  /*height: 550px; */
}

.container {
  padding: 20px;
}

img {
  max-width: 100%; /* Make the image responsive within its container */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove default image spacing */
  margin: 0 auto; /* Center the image horizontally */
  max-height: 400px; /* Set a maximum height for the image if needed */
}
